<div class="container p-4">
    <h2 class="justify-content-center">{{centrotitulo}}</h2>
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd">Añadir Servicio</button>
    <table class="table table-dark table-hover" id="mytable">
        <thead>
            <tr>
                <th scope="col">Especialidad</th>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th>
                <th scope="col">Miércoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <th scope="row">{{servicio}}</th>
                <td>{{lunes}}</td>
                <td>{{martes}}</td>
                <td>{{miercoles}}</td>
                <td>{{jueves}}</td>
                <td>{{viernes}}</td>
                <td>
                    <a href="javascript:void(0);" class="btn btn-info edit" data-servicio="{{servicio}}"
                        data-lunes="{{lunes}}" data-martes="{{martes}}" data-miercoles="{{miercoles}}"
                        data-jueves="{{jueves}}" data-viernes="{{viernes}}">Editar</a>
                    <a href="javascript:void(0);" class="btn btn-danger delete" data-servicio="{{servicio}}">Borrar</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>

<!--Modal para agregar profesionales -->

<form action="/save" method="post">
    <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="servicio" class="form-control" placeholder="Servicio" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="lunes" class="form-control" placeholder="lunes" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="martes" class="form-control" placeholder="martes" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="miercoles" class="form-control" placeholder="miercoles" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="jueves" class="form-control" placeholder="jueves" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="viernes" class="form-control" placeholder="viernes" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal para editar -->

<form action="/update" method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="servicio" class="form-control" placeholder="Servicio" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="lunes" class="form-control" placeholder="lunes" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="martes" class="form-control" placeholder="martes" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="miercoles" class="form-control" placeholder="miercoles" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="jueves" class="form-control" placeholder="jueves" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="viernes" class="form-control" placeholder="viernes" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal para borrar-->

<form id="add-row-form" action="/delete" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Borrar Servicio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <strong>¿Estás seguro de borrar este elemento?</strong>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="servicio" class="form-control servicio2" required>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="boton-salud">
    <button class="btn-primary"><a href="/cs12oc">Centro de Salud 12 de Octubre</a></button>
    <button class="btn-secondary"><a href="/csjdp">Centro de Salud Juán D. Perón</a></button>
    <button class="btn btn-success"><a href="/csSC">Centro de Salud San Cayetano</a></button>
</div>

