<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!--Meta para contenido responsive -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!--links de bootstrap css-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/pogo-slider.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/responsive.css">
	<link rel="stylesheet" href="/assets/css/custom.css">


	<!--link fontawesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<title>{{titulo}}</title>
</head>


<body>
	<!--Barra superior -->

	{{>barrasuperior}}

	<!--Fin Barra Superior-->

	<!--Header-->

	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand" href="index.html"><img src="/assets/logohospitaldelcarmen.jpg" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
					aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
					<ul class="navbar-nav">
						<li><a class="nav-link" href="/">Inicio</a></li>
						<li><a class="nav-link" href="/servicios">Servicios</a></li>
						<li><a class="nav-link active" href="/contacto">Contacto</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!--Fin Header-->

	<!--Banner-->

	{{>banner}}

	<!--Fin Banner-->

	<!--Cuerpo contacto-->

	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>{{contactanos}}</h2>
						<p>{{respuesta}} </p>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-lg-12 col-xs-12">
					<div class="contact-block">
						<form id="contactForm">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group mb-3">
										<input type="text" class="form-control" id="name" name="name"
											placeholder="Nombre" required data-error="Por favor escribe tu nombre">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group mb-3">
										<input type="text" placeholder="Email" id="email" class="form-control"
											name="name" required data-error="Debes ingresar tu email">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group mb-3">
										<input type="text" placeholder="Número de teléfono" id="number"
											class="form-control" name="number" required
											data-error="Es necesario ingresar un número de teléfono">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group mb-3">
										<textarea class="form-control" id="message" placeholder="Escribe tu consulta"
											rows="8" data-error="Debes escribir tu consulta para poder enviarla"
											required></textarea>
										<div class="help-block with-errors"></div>
									</div>
									<div class="submit-button text-center">
										<button class="btn btn-common" id="submit" type="submit">Enviar Mensaje</button>
										<div id="msgSubmit" class="h3 text-center hidden"></div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>


				<div class="col-lg-12 col-xs-12 " id="contactIcons">
					<div class="left-contact">
						<h2>Como contactarnos</h2>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Dirección</h4>
								<p>{{direccion}}</p>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>E-mail</h4>
								<a href="#">demoinfo@gmail.com</a>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fas fa-phone-volume"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Número de teléfono</h4>
								<a href="#">12345 67890</a><br>
								<a href="#">12345 67890</a>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

	<!-- Fin Contacto -->


	<!-- link bootstrap popper-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

	<!--Scripts js-->
	<script src="app.js"></script>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- PLUGINS -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/jquery.pogo-slider.min.js"></script>
	<script src="/assets/js/slider-index.js"></script>
	<script src="/assets/js/smoothscroll.js"></script>
	<script src="/assets/js/TweenMax.min.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/form-validator.min.js"></script>
	<script src="/assets/js/contact-form-script.js"></script>
	<script src="/assets/js/isotope.min.js"></script>
	<script src="/assets/js/images-loded.min.js"></script>
	<script src="/assets/js/custom.js"></script>

</body>

</html>