<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!--Meta para contenido responsive -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!--links de bootstrap css-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/pogo-slider.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/responsive.css">
	<link rel="stylesheet" href="/assets/css/custom.css">


	<!--link fontawesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<title>{{titulo}}</title>
</head>

<body>

	<!--Barra superior -->

	{{>barrasuperior}}

	<!--Fin Barra Superior-->

	<!--Header-->

	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand" href="/home"><img src="/assets/logohospitaldelcarmen.jpg" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
					aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
					<ul class="navbar-nav">
						<li><a class="nav-link" href="/">Inicio</a></li>
						<li><a class="nav-link active" href="/servicios">Servicios</a></li>
						<li><a class="nav-link" href="/contacto">Contacto</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!--Fin Header-->

	<!--Banner-->

	{{>banner}}

	<!--Fin Banner-->

	<!-- Tabla de Centro de salud 12 de Octubre-->

	{{>centrosdesalud}}

	<!-- Fin de la tabla de Centro de salud 12 de Octubre-->


	<!-- link bootstrap popper-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

	<!--Scripts js-->
	<script src="app.js"></script>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- PLUGINS -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/jquery.pogo-slider.min.js"></script>
	<script src="/assets/js/slider-index.js"></script>
	<script src="/assets/js/smoothscroll.js"></script>
	<script src="/assets/js/TweenMax.min.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/form-validator.min.js"></script>
	<script src="/assets/js/contact-form-script.js"></script>
	<script src="/assets/js/isotope.min.js"></script>
	<script src="/assets/js/images-loded.min.js"></script>
	<script src="/assets/js/custom.js"></script>

	<script>
		$(document).ready(function () {
			$('#mytable').on('click', 'edit', function () {
				let servicio = $(this).data('servicio');
				let lunes = $(this).data('lunes');
				let martes = $(this).data('martes');
				let miercoles = $(this).data('miercoles');
				let jueves = $(this).data('jueves');
				let viernes = $(this).data('viernes');
				$('EditModal').modal('show');
				$('.servicio').val('servicio');
				$('.lunes').val('lunes');
				$('.martes').val('martes');
				$('.miercoles').val('miercoles');
				$('.jueves').val('jueves');
				$('.viernes').val('viernes');
			})
		})

		$('#mytable').on('click', '.delete', function () {
			let servicio = $(this).data('id');
			$('#DeleteModal').modal('show');
			$('.servicio2').val(servicio);

		})
})
	</script>

</body>

</html>