<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--Meta para contenido responsive -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!--links de bootstrap css y estilos-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/pogo-slider.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <link rel="stylesheet" href="/assets/css/custom.css">


  <!--link fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <title>{{titulo}}</title>
</head>

<body>
  <!--Barra superior-->
  <div class="main-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-top">
            <div class="mail-b"><a href="gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> demo@gmail.com</a></div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="wel-nots">
            <p>{{bienvenida}}</p>
          </div>
          <div class="right-top">
            <ul>
              <li><a href="facebook.com"><i class="fab fa-facebook"></i></a></li>
              <li><a href="twitter.com"><i class="fab fa-twitter-square"></i></i></a></li>
              <li><a href="instagram.com"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Fin de la barra superior-->

  <!-- Barra de navegación-->
  <header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/home"><img src="/assets/logohospitaldelcarmen.jpg" alt="image"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
          aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
          <ul class="navbar-nav">
            <li><a class="nav-link active" href="/">Inicio</a></li>
            <li><a class="nav-link" href="/servicios">Servicios</a></li>
            <li><a class="nav-link" href="/contacto">Contacto</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!--Fin de barra de navegación-->

  <!--Banner-->

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/slider-01.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>{{bienvenida}}</h2>
          <p>{{slider1}}</p>
          <a href="#" class="btn btn-primary">Contáctanos</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/slider-02.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>{{slider2}}</h2>
          <p>{{slider2consulta}}</p>
          <a href="#" class="btn btn-primary">Consultas</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/slider-03.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>{{slider3}}</h2>
          <p>{{slider3sug}}</p>
          <a href="#" class="btn btn-primary">Sugerencias</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--Sobre nosotros-->
  <div id="sobreNos" class="about-box">
    <div class="about-a1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-box">
              <h2>{{sobrenos}}</h2>
              <p>{{especialistas}} </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row align-items-center about-main-info">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <h2> {{bienvenida}}</h2>
                <p> Somos el centro de salud más grande de la ciudad de Metán. Nos encontramos situados sobre la calle
                  José Ignacio Sierra N° 610. Contamos con 2 salas de emergéncias. La primera corresponde a la guardia
                  de adultos, ubicada sobre calle Alvarado, y
                  la segunda es la sala de emergéncias pediátricas ubicada sobre calle José Ignacio Sierra. </p>
                <p> El hospital cuenta con farmacia propia, sala de rayos x, ecógrafo, laboratorio, salas de internación
                  tanto para mujeres como para hombres y niños.
                  la atención es totalmente gratuita y en caso de no tener obra social podés adquirir los medicamentos
                  en nuestra farmacia sin cargo.</p>
                <a href="#" class="new-btn-d br-2">Leer Más</a>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="about-m">
                  <ul id="banner">
                    <li>
                      <img src="/assets/about-img-01.jpg" alt="">
                    </li>
                    <li>
                      <img src="/assets/about-img-02.jpg" alt="">
                    </li>
                    <li>
                      <img src="/assets/about-img-03.jpg" alt="">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Fin sobre nosotros-->


  <!-- link bootstrap popper-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!--Scripts js-->
  <script src="app.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- PLUGINS -->
  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/jquery.pogo-slider.min.js"></script>
  <script src="/assets/js/slider-index.js"></script>
  <script src="/assets/js/smoothscroll.js"></script>
  <script src="/assets/js/TweenMax.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/form-validator.min.js"></script>
  <script src="/assets/js/contact-form-script.js"></script>
  <script src="/assets/js/isotope.min.js"></script>
  <script src="/assets/js/images-loded.min.js"></script>
  <script src="/assets/js/custom.js"></script>


</body>

</html>