<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!--Meta para contenido responsive -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!--links de bootstrap css-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/pogo-slider.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/responsive.css">
	<link rel="stylesheet" href="/assets/css/custom.css">


	<!--link fontawesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<title>{{titulo}}</title>
</head>

<body>

	<!--Barra superior -->

	{{>barrasuperior}}

	<!--Fin Barra Superior-->

	<!--Header-->

	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand" href="index.html"><img src="/assets/logohospitaldelcarmen.jpg" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
					aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
					<ul class="navbar-nav">
						<li><a class="nav-link" href="/">Inicio</a></li>
						<li><a class="nav-link active" href="/servicios">Servicios</a></li>
						<li><a class="nav-link" href="/contacto">Contacto</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!--Fin Header-->

	<!--Banner-->

	{{>banner}}

	<!--Fin Banner-->

	<!--Cuerpo Servicios -->

	<div id="services" class="services-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Servicios</h2>
						<p>Aquí podés enterarte de todos los servicios que ofrecemos </p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-h-square" aria-hidden="true"></i></div>
								<h3 class="title">Centros de Salud</h3>
								<p class="description">
									Centro de Salud Juan D. Perón <br>
									Centro de Salud 12 de Octubre <br>
									Centro de Salud San Cayetano
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-heart" aria-hidden="true"></i></div>
								<h3 class="title">{{titulo2}}</h3>
								<p class="description">
									{{cirugia}}
								</p>
							</div>
						</div>

						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-stethoscope" aria-hidden="true"></i></div>
								<h3 class="title">{{titulo3}}</h3>
								<p class="description">
									{{especialistas}}
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-wheelchair" aria-hidden="true"></i></div>
								<h3 class="title">{{titulo4}}</h3>
								<p class="description">
									{{especiales}}
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-plus-square" aria-hidden="true"></i></div>
								<h3 class="title">{{titulo5}}</h3>
								<p class="description">
									{{farmacia}}
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-medkit" aria-hidden="true"></i></div>
								<h3 class="title">{{titulo6}}</h3>
								<p class="description">
									{{vacunatorio}}
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-user-md" aria-hidden="true"></i></div>
								<h3 class="title">{{titulo7}}</h3>
								<p class="description">
									{{ambulancia}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="boton-salud">
		<button class="btn-primary"><a href="/cs12oc">Centro de Salud 12 de Octubre</a></button>
		<button class="btn-secondary"><a href="/csjdp">Centro de Salud Juán D. Perón</a></button>
		<button class="btn btn-success"><a href="/csSC">Centro de Salud San Cayetano</a></button>
	</div>

	<!--Fin Servicios -->

	<!-- link bootstrap popper-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

	<!--Scripts js-->
	<script src="app.js"></script>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- PLUGINS -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/jquery.pogo-slider.min.js"></script>
	<script src="/assets/js/slider-index.js"></script>
	<script src="/assets/js/smoothscroll.js"></script>
	<script src="/assets/js/TweenMax.min.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/form-validator.min.js"></script>
	<script src="/assets/js/contact-form-script.js"></script>
	<script src="/assets/js/isotope.min.js"></script>
	<script src="/assets/js/images-loded.min.js"></script>
	<script src="/assets/js/custom.js"></script>

</body>

</html>